:root {
    font-size: 12px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------Gestion flex------deb---*/

.flex {
    display: flex;
    /* justify-content: center;
    align-items: center; */
}

.flexdc {
    flex-direction: column;
}

.flexjc {
    justify-content: center;
}

.flexspb {
    justify-content: space-between;
}

.flexspa {
    justify-content: space-around;
}

/*-----------Gestion flex------fin---*/


body {
    padding: 10px;
    display: flex;

    /* flex-direction:column; */
    justify-content: center;
    /* align-items: center; */
    background-color: rgb(163, 136, 29);
}

main {
    width: 90vw;
    height: 96vh;
    background-color: rgb(233, 138, 14);
    /* border:rgb(255, 255, 255) solid 1px; */
}

.dot {

    width: 2px;
    height: 2px;
    background-color: rgb(20, 241, 12);
    /* border-radius:50%; */
}

.line {
    display: flex;
    width: 100%;
    height: 20px;
    /* border: white solid 1px; */
}


.trait {
    width: 100%;
    height: 10px;
    align-self: center;
}


.bloc {

    width: 100%;
    height: 30px;
    align-self: center;
}

.bloc.bip {
    width: 25%;
}

.cell {
    border: black solid 1px;
}

.bip {
    cursor: pointer;
    border: black solid 1px;
}

.coul0 {
    background-color: #444;
}

.coul1 {
    background-color: red;
}

.coul2 {
    background-color: blue;
}

.coul3 {
    background-color: rgb(13, 209, 23);
}

.coul4 {
    background-color: yellow;
}



.cadreplayers {
    position: relative;
    display: grid;
    grid-column: 1fr;
/* margin: 5px; */
    width: 16%;
    height: 85vh;
    background-color: rgba(255, 255, 255, 0.596);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.815);
    border: rgb(153, 255, 106) solid 2px;
}

.playerA,
.playerB {

    padding: 5px;
    width: 90px;
    height: 150px;
    left: 30%;
    font-size: 3rem;
    background-color: yellow;
    border: rgb(13, 209, 23) solid 2px;

}

.playerA {
    /* background-color: rgb(255, 0, 0); */
    position: relative;

}

.playerB {
    /* background-color: rgb(10, 155, 223); */
    position: relative;
}

.playerA:before,
.playerB:before {
    position: absolute;
    padding: 5px;
    top: -30px;
    left: -10px;
}

.playerA:before {
    content: "P1";
}

.playerB:before {
    content: "P2";
}


.shoot {
    position: relative;
    padding: 5px;
    left: 20%;
    top: 30px;
    font-size: 4rem;
    color: rgb(255, 0, 0);
    text-shadow: rgb(0, 0, 0) 1px 1px 10px;
}

.shoot:before {

    content: 'Shoot!';
    position: absolute;
    padding: 5px;
    font-size: 2.4rem;
    color: rgb(13, 209, 23);
    top: -30px;
    height: 20px;
    width: 20px;
    /* background-color: #0ff; */
}

/*
.cell::before {
    content: ' ';
    position: absolute;
    width: 10%;
    height: 80%;
    top: 5%;
    left: 70%;
    transform: rotate(24deg);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(255, 255, 255, 0.5) 0 0 20px;
}

.cell::after {
    content: ' ';
    position: absolute;
    width: 20%;
    height: 10%;
    top: 10%;
    left: 60%;
    transform: rotate(-14deg);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(255, 255, 255, 0.5) 0 0 20px;
}

*/