:root {
    font-size: 12px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------Gestion flex------deb---*/

.flex {
    display: flex;
}

.flexdc {
    flex-direction: column;
}

.flexac{
    align-items: center;
}

.flexspe{
  justify-content: space-evenly ;
}

.flexjc{
    justify-content: center;
    }

    .flexspb{
        justify-content: space-between;
    }

    .flexspa{
        justify-content: space-around;
    }
.flexw{
    justify-content: left;
}
/*-----------Gestion flex------fin---*/


body {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: rgb(27, 26, 25);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    width: 90vw;
    height: 96vh;
}

.dot {

    width: 10px;
    height: 10px;
    background-color: rgb(20, 241, 12);
    border-radius: 50%;
}

.horizon{
    height: 10px;
    width: 30px;
    
}

.line {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 10px;
    /* border: white solid 1px; */
}

.line.blocky{
    height: 30px;
}

.vertical{
    height : 30px;
    width: 10px;
}

.bloc {
    width: 100%;
    height: 30px;
    align-self: center;
}

.cell {
    position: relative;
    border: rgba(0, 0, 0, 0.521) solid 1px;
    width: 30px;
    height: 30px;
}

.bip {
    cursor: pointer;
    border: black solid 1px;
}

.coul0 {
    background-color: #444;
}

.coul1 {
    background-color: red;
}

.coul2 {
    background-color: blue;
}

.coul3 {
    background-color: rgb(13, 209, 23);
}

.coul4 {
    background-color: yellow;
}

.cadreplayers {
    position: relative;
    margin: 10px;
    padding: 5px;
    width: 20%;
    height: 90vh;
    background-color: rgba(202, 173, 173, 0.384);
    border-top: 2px solid rgba(255, 255, 255, 0.863);
    border-left: 2px solid rgba(255, 255, 255, 0.856);
    border-radius: 10px;
}

.shoot {
    height: 50px;
    padding: 5px;
    text-align: right;
    top: 50px;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-shadow: chocolate 1px 1px 10px;
}

.playerA,
.playerB {
    position: relative;
    padding: 45px;
    margin: 10px;
    font-size: 4rem;
    width: 170px;
    height: 180px;
    color : white;
    font-weight: 800;
    text-align:  center;
    line-height : 80px;
}

.playerA {
    background-color: rgba(240, 228, 228, 0.493);
}

.playerB {
    background-color: rgba(240, 228, 228, 0.493);
}

.playerA:before,
.playerB:before {
    position: absolute;
    padding: 15px;
    margin: 10px;
    font-size: 3rem;
    top: -50px;
    left: 25%;
    color:white;
}

.playerA:before {
    content: "P1";
    color:red;
    transform: rotateZ(-20deg);
    text-shadow: rgb(233, 227, 227) 4px -4px 5px;
}

.playerB:before {
transform: rotateZ(20deg);
    content: "P2";
    color:blue;
    text-shadow: rgb(233, 227, 227) 4px -4px 5px;

}

footer{
    position:absolute;
    color: white;
    font-size: 1.2rem;
    bottom: 0 ;
    left: 20px;
}
.cell::before {
    content: ' ';
    position: absolute;
    width: 10%;
    height: 80%;
    top: 5%;
    left: 70%;
    transform: rotate(24deg);
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: rgba(255, 255, 255, 0.5) 0 0 20px;
}

.cell::after {
    content: ' ';
    position: absolute;
    width: 20%;
    height: 10%;
    top: 10%;
    left: 60%;
    transform: rotate(-14deg);
    background-color: rgba(255, 255, 255, 0.314);
    box-shadow: rgba(255, 255, 255, 0.5) 0 0 20px;
}