:root {
    font-size: 12px;
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-----------Gestion flex------deb---*/

.flex {
    display: flex;
}

.flexdc {
    flex-direction: column;
}

.flexjc {
    justify-content: center;
}

.flexspb {
    justify-content: space-between;
}

.flexspa {
    justify-content: space-around;
}

/*-----------Gestion flex------fin---*/
body {
    padding: 5px;
    display: flex;
    justify-content: center;
    background-color: rgb(163, 136, 29);
}

main {
    width: 86vw;
    height: 96vh;
    background-color: rgb(246, 173, 15);
}

.dot {
    width: 2px;
    height: 2px;
    background-color: rgb(20, 241, 12);
}

.line {
    display: flex;
    width: 100%;
    height: 20px;
}

.trait {
    width: 98%;
    height: 10px;
    align-self: center;
}

.bloc {
    width: 100%;
    height: 30px;
    align-self: center;
}

.bloc.bip {
    width: 25%;
}

.cell {
    border: black solid 1px;
    position: relative;
}

.bip {
    cursor: pointer;
}

.coul0 {
    background-color: #444;
}
.coul1 {
    background-color: red;
}
.coul2 {
    background-color: blue;
}

.cadreplayers {
   display:flex;
   flex-direction:column;
   margin: 10px;
   width: 20%;
   justify-content: space-around;
    background-color: rgba(18, 223, 62, 0.774);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.815);
    border: rgb(153, 255, 106) solid 2px;
}


.shoot {
    background-color: #fff;
    padding: 5px;
    text-align: center;
    height: 50px;
    width:100%;
    font-size: 1.8rem;
    color: rgb(255, 0, 0);
    text-shadow: rgb(0, 0, 0) 0 0 2px;
}

.shoot::before
{
    content:'Shoot ! ';
    text-align: center;
    height: 20px;
    font-size: 1.8rem;
    color: rgb(255, 0, 0);
    text-shadow: rgb(0, 0, 0) 0 0 2px;
}

.playerA,
.playerB {
    position: relative;
    padding: 5px;
    width: 90px;
    height: 150px;
    left: 30%;
    font-size: 3rem;
    line-height: 90px;
    text-align: center;
    background-color: yellow;
    border: rgb(13, 209, 23) solid 2px;
}

.playerA {
    
}

.playerB {
    
}

.playerA:before,
.playerB:before {
    position: absolute;
    top: -55px;
    height:40%;
    line-height: 50px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.76);
}

.playerA:before {
    content: "P1";
    transform: rotatez(-20deg) translate(0, 0);
    color : red ;
}

.playerB:before {
    content: "P2";
    transform: rotatez(20deg) translate(0,0);
    color:blue;
}

.cell::before {
    content: ' ';
    position: absolute;
    width: 5px;
    height: 5px;
    top: 5px;
    left: 5px;
    transform: rotate(24deg);
    background-color: rgba(255, 255, 255, 0.753);
    box-shadow: rgba(255, 255, 255, 0.5) 0 0 20px;
}

.cell::after {
    content: ' ';
    position: absolute;
    width: 5px;
    height: 5px;
    top: 10px;
    left: 10px;
    transform: rotate(-14deg);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: rgba(255, 255, 255, 0.5) 0 0 20px;
}

